* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
}

.parent-container {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #111f42;
    color: white;
    position: relative;
    z-index: 1000;
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;*/
}

.navbar {
    height: 80px;
}


.main-heading {
    padding: 30px 0px 20px 0px;
    text-align: center;
    color: #264391;
}

.navbar li:hover {
    text-decoration: underline;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.profile-icon img {
    width: 24px;
    height: 24px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
}

.mobile-profile {
    display: none;
}

@media screen and (max-width: 768px) {
    .nav-links {
        position: absolute;
        text-align: center;
        top: 80px;
        left: 0;
        flex-direction: column;
        width: 100%;
        background-color: #111f42;
        padding: 10px;
        display: none;
        gap: 10px;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        margin: 5px 0;
    }

    .profile-icon {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .mobile-profile {
        display: block;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 40px;
    background-color: #111f42;
    color: #fff;
    left: 0;
    bottom: 0;
}

.footer-left,
.footer-right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.footer-left a,
.footer-right a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-left a:hover {
    text-decoration: underline;
}

.footer-right img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
}

.footer-right img:hover {
    transform: scale(1.2);
}

@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 15px;
        bottom: 0%;
    }

    .footer-left,
    .footer-right {
        justify-content: center;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown img {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 120px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
    right: 0;
    left: auto;
}

.dropdown-content a {
    color: #333;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}